@import 'Pattern';

.pp-demo {
	display: flex;
	padding: 20px;

	&__container {
		padding: 20px;
		min-width: 150px;
		background: var(--pp-grey-6);

		&&--inverted {
			background: var(--pp-blue-100);
		}
	}

	& > .button {
		margin-right: 10px;
	}
}
