@import 'Pattern';
@import 'root';

ul.demo-icons {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	li {
		width: 100px;
		height: 100px;
		text-align: center;
		margin-right: 10px;
		margin-bottom: 10px;
		padding: 10px;
		cursor: pointer;
		transition: all .3s;

		.icon {
			color: currentColor;
		}

		.icon-name {
			display: block;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			margin-top: 5px;
		}

		&:hover {
			color: var(--pp-highlight-color);
		}
	}
}
