:root {
	--icon-default-size: 24px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	color: currentcolor;
	width: var(--icon-default-size);
	height: var(--icon-default-size);
	margin: auto;
	&.icon--mirrored {
		transform: rotate(180deg);
	}

	& .svg {
		width: 100%;
		height: 100%;
		fill: currentcolor;
		pointer-events: none;
	}
}
