@import 'spacings';

:root {
	--grid-column-width-l: calc(100% / 12);
	--grid-column-width-m: calc(100% / 8);
	--grid-column-width-s: calc(100% / 4);

	--grid-wrapper: {
		display: flex;
	}
	--grid-col: {
		flex-shrink: 0;
		flex-grow: 0;
		flex-basis: auto;
	}

	/* Desktop */
	--grid-col-l-1: {
		@apply --grid-col;
		width: var(--grid-column-width-l);
	}
	--grid-col-l-2: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 2);
	}
	--grid-col-l-3: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 3);
	}
	--grid-col-l-4: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 4);
	}
	--grid-col-l-5: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 5);
	}
	--grid-col-l-6: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 6);
	}
	--grid-col-l-7: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 7);
	}
	--grid-col-l-8: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 8);
	}
	--grid-col-l-9: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 9);
	}
	--grid-col-l-10: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 10);
	}
	--grid-col-l-11: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 11);
	}
	--grid-col-l-12: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-l) * 12);
	}

	/* Tablet */
	--grid-col-m-1: {
		@apply --grid-col;
		width: var(--grid-column-width-m);
	}
	--grid-col-m-2: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 2);
	}
	--grid-col-m-3: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 3);
	}
	--grid-col-m-4: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 4);
	}
	--grid-col-m-5: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 5);
	}
	--grid-col-m-6: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 6);
	}
	--grid-col-m-7: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 7);
	}
	--grid-col-m-8: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-m) * 8);
	}

	/* Mobile */
	--grid-col-s-1: {
		@apply --grid-col;
		width: var(--grid-column-width-s);
	}
	--grid-col-s-2: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-s) * 2);
	}
	--grid-col-s-3: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-s) * 3);
	}
	--grid-col-s-4: {
		@apply --grid-col;
		width: calc(var(--grid-column-width-s) * 4);
	}
}
