@import "Pattern";

/**
 * Primary Colors
 */
.pp-gray-0 {
	background-color: var(--pp-gray-0);
}
.pp-gray-6 {
	background-color: var(--pp-gray-6);
}
.pp-gray-54 {
	background-color: var(--pp-gray-54);
}
.pp-blue-25 {
	background-color: var(--pp-blue-25);
}
.pp-blue-50 {
	background-color: var(--pp-blue-50);
}
.pp-blue-100 {
	background-color: var(--pp-blue-100);
}

/**
 * Color swatch styles
 */
.pp-container {
	font-family: sans-serif;
}

.pp-colorlist {
	list-style: none;
	margin: -5px -5px 2em;
	padding: 0;
}

.pp-colorswatch {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin: 6px;
	vertical-align: top;
	box-sizing: border-box;
	border: 1px solid rgba(128, 128, 128, 0.5);
	&::before {
		display: block;
		content: attr(data-colorname);
		margin: 5px;
		color: #fff;
		text-shadow: 0 0 1px #000;

		letter-spacing: 0.075em;
		line-height: 1.25;
	}
}
