:root {
	--pp-grey-0: rgb(255, 255, 255);
	--pp-grey-6: rgb(236, 239, 241);
	--pp-grey-54: rgb(96, 125, 139);
	--pp-blue-25: rgb(208, 232, 252);
	--pp-blue-50: rgb(160, 210, 250);
	--pp-blue-100: rgb(66, 165, 245);

	--pp-text-color: var(--pp-grey-54);
	--pp-text-color--inverted: var(--pp-grey-0);
	--pp-border-color: var(--pp-grey-6);
	--pp-highlight-color: var(--pp-blue-100);

	--pp-header-bg-color: var(--pp-grey-0);
	--pp-mainnav-bg-color: var(--pp-grey-0);
	--pp-mainnav-active-bg-color: var(--pp-grey-0);
	--pp-tabbar-bg-color: var(--pp-grey-6);
}
