:root {
	--pp-white: #FFF;
	--pp-gray-light: #ECEFF1;
	--pp-gray-medium: #CFD8DC;
	--pp-gray-dark: #607D8B;
	--pp-blue-25: #d0e8fc;
	--pp-blue-50: #a0d2fa;
	--pp-blue-100: #42A5F5;

	--pp-text-color: var(--pp-gray-dark);
	--pp-border-color: var(--pp-gray-light);
	--pp-hightlight-color: var(--pp-blue-100);

	--pp-header-bg-color: var(--pp-white);
	--pp-mainnav-bg-color: var(--pp-white);
	--pp-mainnav-active-bg-color: var(--pp-white);
	--pp-tabbar-bg-color: var(--pp-gray-light);
}
