@import 'root';
@import 'button';

.navigation-toolbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: var(--pp-size__bottom-bar-height);
	padding: var(--pp-spacing__whitesapce-s);
	background-color: var(--pp-color__main-header-background);
	box-shadow: var(--pp-shadow__default--down);
	& .navigation-toolbar__tool-list {
		margin: 0 var(--pp-spacing__whitesapce-s) 0 0;
		padding: 0;
		list-style: none;
	}
	& .navigation-toolbar__minimize-button {

	}
}
