@import 'root';
@import 'headline';
@import 'section';

.home-stage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 80vh;
	min-height: 200px;
	max-height: 500px;
	&__logo {
		height: 35vh;
		max-height: 200px;
		fill: var(--pp-grey-0);
	}
	&__headline {
		margin-bottom: 0;
	}
}
