@import 'root';
@import 'icon';

:root {
	--pp-header-logo__logo-size: 50px;
}

.header-logo {
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	max-width: 100%;
	& .header-logo__icon {
		flex-shrink: 0;
		width: var(--pp-header-logo__logo-size);
		height: var(--pp-header-logo__logo-size);
		color: var(--pp-color__primary);
	}

	& .header-logo__text {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 100%;
		white-space: nowrap;
		margin: 0 var(--pp-spacing__whitesapce-s);
	}
}
