@import 'colors';

:root {
	/* Sizes */
	--pp-size__top-bar-height: 60px;
	--pp-size__bottom-bar-height: 45px;
	--pp-size__navigation-width: 17.5%;

	/* Spacings */
	--pp-spacing__whitesapce-s: 5px;

	/* Shadows */
	--pp-shadow__default--down: 0 1px 3px var(--pp-color__shadow--default);
	--pp-shadow__default--up: 0 1px -3px var(--pp-color__shadow--default);

	/* Fonts */
	--pp-font__font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', Arial;
	--pp-font__font-size: 14px;
	--pp-font__line-height: 1.5;
}

body {
	color: var(--pp-color__text);
	box-sizing: border-box;
	font: var(--pp-font__font-size)/var(--pp-font__line-height) var(--pp-font__font-family);
}

*,
*::before,
*::after {
	box-sizing: inherit;
}
